.vscode
node_modules
/build/local-scenes/
/localSettings.js
/.local/
/build/sketchbook.min.js
steam.txt
dist
blend
/src/examples/old2/
/src/examples/old23/
/src/examples/diffs/
/src/main/examples/diffs/
sketchbook.min.js

/assets/urban-kits/
